body{
	min-height: 100vh;
	background-color: #FBAB7E;
	background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	position: relative;
}

header{
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	margin: 30px;
	color: white;
}
form{
	margin-bottom: 30px;
	margin-top: 15px;
}
.container{
	position: relative;
}

.form-group{
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}
.form-group input{
	background-color: white;
	border: none;
}

.form-control:focus {
	border-color: none;
	box-shadow: none;
}

.form-group button, .form-group button:focus{
	outline: none;
	border: none;
	background-color: #fbb13c;
	color: white;
	font-size: 2rem;
	/*padding: 0.5rem;*/
}

.form-group button:hover{
	background-color: white;
	color: #fbb13c;
}

.todo-container{
	/*padding-bottom: 20px;*/ 
}

.todo-list{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0px;
	padding-left: 0px;
	font-family: 'Montserrat', sans-serif;
}

.todo-item{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	padding-left: 10px;
}

.btn-check, .btn-check:focus{
	background-color: #4ea5d9;
	padding: 0.5rem;
	color: white;
	border: none;
	outline: none;
}
.btn-trash, .btn-trash:focus{
	background-color: #d84727;
	padding: 0.5rem;
	color: white;
	border: none;
	outline: none;
}
.fa-trash, .fa-check-square{
	pointer-events: none;
}

.completed{
	font-style:  italic;
	text-decoration: line-through;
	opacity: 0.5;
}

.del-transition{
	/*transform: translateX(-400px);*/
	transform: scale(0,0);
	opacity: 0;
	transition: 0.5s;
}
